main {
  margin: 0px;
  display: flex;
  font-family: "Fredoka", sans-serif;
}

.menu_chat {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 2 25%;
  box-shadow: -1px -1px -1px -2px #769bdb;
  box-sizing: border-box;
  margin: 1px;
}

.principal {
  font-family: "Fredoka", sans-serif;
  display: flex;
  flex: 3 1 75%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -2px 0 0 0 #769bdb;
  background-image: none;
}

.user {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  margin: 1px;
}

.status_user {
  display: flex;
  align-items: center;
}
.status_user img {
  min-width:15%;
  min-height: 100%;
}
.user_button {
  display: flex;
}

i {
  padding: 0.5em;
}

button {
  display: flex;
  background-color: #041622;
  padding: 0.5em 4em;
  margin: 1em 0px 1em 0px;
  color: aliceblue;
}

.contact_display {
  display: flex;
  align-items: center;
  padding: 0.5%;
  box-shadow: 0 -1px 0 0 #769bdb;
  transition: background-color 0.3s;
}

.contact_display:hover {
background-color: #8eaee48e;
  }


.text {
  font-size: 0.5em;
}

h1 {
  margin: 0%;
  padding: 0%;
}
p {
  margin: 0%;
  padding: 0%;
  font-size: 1.2em;
}

.text_button {
  font-size: 0.8em;

}

.menu_chat img {
  max-width: 17%;
}
.principal img {
  max-width: 25%;
}

/* Acá va el CSS del html que tiene una versión distinta con chat */
.chat-container {
  font-family: "Fredoka", sans-serif;
  display: none;
  flex: 3 1 75%;
  flex-direction: column;
  background-image: url(assets/imgs/patron.webp);
  border: 1px solid #769bdb;
  margin: auto;
  min-height: 100vh;
}
.info_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #769bdb;
}
.info_contact img {
max-width: 10vh;
}
.message-area {
  flex: 1;
  flex-direction: column-reverse; 
  align-self: flex-end;
  overflow-y: auto;
  border-bottom: 1px solid #769bdb;
}


.input-area {
  display: flex;
  padding: 10px;
  justify-content: end;
}

#chatForm {
  display: flex;
}
#inputMessage {
  min-width: 100vh;
}
.button_chat {
  padding: 1vh;
  margin: 2px;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
}


